<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<h3><%= params[:question] %></h3>
<p> -You</p>

<h3><%= @answer %></h3>
<p>Your coach</p>



<%= link_to "Ask another question", ask_path %>
